@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1 class="alert alert-info text-center">Updating Student</h1>
    <form method="post">
        <label asp-for="Name" for="name"></label> <input asp-for="Name" id="name" /> <br />
        <input type="submit" value="Update" />

    </form>

</body>
</html>
